<p-dialog
  header="Crear cuenta"
  [(visible)]="mostrarModal"
  [modal]="true"
  [style]="{ width: '400px' }"
  [dismissableMask]="true"
  [closable]="false"
>

<form (ngSubmit)="registrarse(formRef)" #formRef="ngForm" class="flex flex-col gap-4" >
  <input type="text" name="first_name" [(ngModel)]="usuario.first_name" placeholder="Nombre" required class="p-inputtext p-component" />
    <input type="text" name="last_name" [(ngModel)]="usuario.last_name" placeholder="Apellido" required class="p-inputtext p-component" />
    <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="Correo electrónico" required class="p-inputtext p-component" />
    <input type="password" name="password" [(ngModel)]="usuario.password" placeholder="Contraseña" required class="p-inputtext p-component" />
    <select name="role" [(ngModel)]="usuario.role" class="p-inputtext p-component" required>
      <option value="" disabled selected>Selecciona un rol</option>
      <option *ngIf="authService.isAdmin() && authService.isLoggedIn()" value="admin">Admin</option>
      <option value="customer">Customer</option>
    </select>

    <button pButton label="Registrarse" [disabled]="formRef.invalid"></button>
  </form>
</p-dialog>
